{% include header.html %}
{% include inc.multigraph.html %}
<script type="text/javascript" src="/js/examples.js"></script>
{% include inc.prettify.html %}
{% include content.html %}


<h2>Examples</h2>
<div class="example-nav">
  <ul>
  </ul>
</div>

<!-- Mobile support: -->
<div class="example-mobile-nav">
  <div class="btn-toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Real Examples <span class="caret"></span></button>
      <ul class="dropdown-menu">
      </ul>
    </div>
  </div>
</div>




<div class="example-content">
    {{ content }}
</div>
{% include end.html %}
